.App {
  display: flex;
  flex: column;
  justify-content: center;
}

.InventoryInputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.InventoryInputs input{
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

.InventoryInputs button{
  width: 300px;
  height: 40px;
  font-size: 20px;
  margin-top: 10px;
  background-color: rgb(44, 130, 241);
  color: white;
}

.InventoryInputs button:hover{
  width: 300px;
  height: 40px;
  font-size: 20px;
  margin-top: 10px;
  background-color: rgb(35, 108, 204);
  color: white;
  cursor: pointer;
  
}